.block-box {
  display: block;
  background-color: blue;
  width: 500px;
  height: 100px;
  color: white;
  padding: 10px;
  margin: 20px;
}

.inline-box {
  display: inline;
  background-color: red;
  color: white;
  padding: 10px;
  margin: 20px;
}

#bg-color {
  background-color: forestgreen;
}

.bg {
  display: inline-block;
  width: 250px;
  height: 100px;
  margin: 10px;
  border: 1px solid black;
  background-image: url("imgs/bg.png");
  background-size: 40px;
}

#bg-1 {
  background-repeat: no-repeat;
}

#bg-2 {
  background-repeat: repeat-x;
}

#bg-3 {
  background-repeat: repeat-y;
}

#bg-4 {
  background-repeat: repeat;
}

#bg-5 {
  background-size: cover;
}

#bg-6 {
  background-size: contain;
}

#bg-7 {
  background-size: 50% 50%;
}

#bg-8 {
  background-position: top;
  background-repeat: no-repeat;
}

#bg-9 {
  background-position: center;
  background-repeat: no-repeat;
}

#bg-10 {
  background-position: 25% 75%;
  background-repeat: no-repeat;
}

#bg-11 {
  background-image: linear-gradient(#f69d3c, #3f87a6);
}

.wrt-mode {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 1px solid black;
}

.hor {
  writing-mode: horizontal-tb;
}

.ver-rl {
  writing-mode: vertical-rl;
}

.ver-lr {
  writing-mode: vertical-lr;
}

.wrt-size {
  block-size: 200px;
  inline-size: 100px;
}

.log-vals {
  border: 5px black;
  border-block-start-style: dashed;
  border-inline-end-style: dotted;
  border-block-end-style: double;
  border-inline-start-style: solid;
}

.table {
  display: inline-block;
}

.table table {
  font-size: 24px;
  border-collapse: collapse;
  margin-left: 24px;
}

.table td {
  border: 1px solid #999;
  padding: 0.4rem;
  text-align: left;
}

.table th {
  border: 1px solid #999;
  padding: 0.4rem;
  text-align: left;
}

.min-max {
  display: inline-block;
  width: 200px;
  min-height: 80px;
  margin: 10px;
  border: 1px solid black;
}

.viewport {
  display: inline-block;
  width: 300px;
  height: 120px;
  margin: 10px;
  border: 1px solid black;
  font-size: 3vw;
}

.img {
  display: inline-block;
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 5px solid black;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
}

.img-cover {
  object-fit: cover;
}

.img-contain {
  object-fit: contain;
}

.table-2 th, .table-2 td {
  padding: 20px;
}

.table-2 {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

.table-2-head th:nth-child(1) {
  width: 30%;
}

.table-2-head th:nth-child(2) {
  width: 20%;
}

.table-2-head th:nth-child(3) {
  width: 15%;
}

.table-2-heads th:nth-child(4) {
  width: 35%;
}

.table-3-head th, .table-3-foot th {
  font-family: 'Rock Salt', cursive;
}

.table-3 th {
  letter-spacing: 2px;
}

.table-3 td {
  letter-spacing: 1px;
}

.table-3-body td {
  text-align: center;
}

.table-3-foot th {
  text-align: right;
}

.table-4-head, .table-4-foot {
  background-image: linear-gradient(blueviolet, darkmagenta);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.table-head-4 th, .table-foot-4 th, .table-foot-4 td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid purple;
}

.tr-4:nth-child(odd) {
  background-color: #ff33cc;
}

.tr-4:nth-child(even) {
  background-color: #e495e4;
}

.table-4 caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  letter-spacing: 1px;
}

.serif {
  font-family: serif;
}

.sans-serif {
  font-family: sans-serif;
}

.monospace {
  font-family: monospace;
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}

.table-fonts {
  border-collapse: collapse;
}

.thead-fonts {
  display: table-header-group;
  vertical-align: middle;
}

.table-fonts th, .table-fonts td {
  border: 2px solid grey;
  padding: 5px 10px;
  text-align: center;
}

.font-stacks {
  font-family: "Trebuchet MS", Verdava, sans-serif;
}

.normal {
  font-style: normal;
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.bolder {
  font-weight: bolder;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.full-width {
  text-transform: full-width;
}

.dec {
  text-decoration: underline red wavy;
}

.shadow {
  text-shadow: 2px 3px 1px orangered;
}

.line-height {
  line-height: 1.6;
}

.l-spacing {
  letter-spacing: 4px;
}

.w-spacing {
  word-spacing: 8px;
}